<table class="table table-condensed flip-content" ng-class="{'no-bot-margin' : scrollBody, 'table-striped' : !scrollBody, 'table-hover' : data.rowClickHandler}">
    <thead class="flip-content">
        <tr>
            <th style="width: {{100 / data.columns.length}}%;" ng-repeat="column in data.columns" ng-if="column != undefined">{{column}}</th>
        </tr>
    </thead>
        <tbody>
            <tr ng-if="scrollBody" class="scroll-body-cell-container">
                <td colspan="{{data.columns.length}}">
                    <div ng-class="{'table-scroll-body' : scrollBody}">
                        <table class="table table-striped table-condensed" ng-class="{'no-bot-margin' : scrollBody, 'table-hover' : data.rowClickHandler}">
                            <tbody>
                                <tr ng-class="data.rowClickHandler ? 'row-pointer' : ''" ng-repeat="row in data.rows" ng-click="data.rowClickHandler ? onRowClicked(data.rowClickHandler) : null">
                                    <td style="width: {{100 / data.columns.length}}%;" ng-repeat="key in data.keys">{{row[key].VALUE}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr ng-if="!scrollBody" ng-class="data.rowClickHandler ? 'row-pointer' : ''" ng-repeat="row in data.rows" ng-click="data.rowClickHandler ? onRowClicked(data.rowClickHandler) : null">
                <td style="width: {{100 / data.columns.length}}%;" ng-repeat="key in data.keys">{{row[key].VALUE}}</td>
            </tr>
        </tbody>
    </div>
</table>
