<div class="portlet light">
    <div class="portlet-title" ng-class="tabs ? 'tabbable-line' : ''">
        <div class="caption">
            <i class="{{ icon }}"></i>
            <span class="caption-subject {{ titleClass }}">
            {{ title }}</span>
            <span class="caption-helper">{{ caption }}</span>
        </div>
        <ul class="nav nav-tabs" ng-if="tabs && !actions" ng-include="tabs">

        </ul>
        <div ng-if="actions && !tabs" class="actions" ng-include="actions">

        </div>
        <div ng-if="dynamicActions && !tabs && !actions" class="actions">
            <!--{{dynamicActions | json}}-->
            <span ng-repeat="item in dynamicActions" class="dynamicActions" ng-include="item.template"></span>
        </div>
    </div>
    <div class="portlet-body">
        <ng-transclude></ng-transclude>
    </div>
    <div class="portlet-footer form">
        <div class="form-actions fluid" ng-if="includeBottomActions">
            <div class="row">
                <div class="{{bottomButtonsOffset}} col-md-10">
                    <button ng-repeat="item in bottomDynamicButtons" class="dynamic-button {{::item.class}}" ng-click="onActionItemClicked(item)">
                        <i ng-if="item.icon" class="{{ ::item.icon }}"></i> {{ ::item.title }}
                    </button>
                    <img class="loading-icon" src="./input-spinner.gif" ng-show="showFooterSpinner">
                </div>
            </div>
        </div>
    </div>
</div>