<ul class="hierarchy-tree">
    <li class="parent node">
        <i ng-if="parent.icon" class="{{::parent.icon}}"></i> <a href="#" class="node-name" ng-class="{'bold' : parent.nodeID == currentNode}" ng-click="ctrl.onNodeClick(parent)">{{ parent.name }}</a>
        <ul class="branch" ng-if="parent.children.length > 0">
            <li class="node" ng-repeat="child in parent.children">
                <hierarchy-view node-data="child" current-node="currentNode"></hierarchy-view>
            </li>
        </ul>
    </li>
</ul>